

.Header{
  margin: 100px 100px;
}

.button-edit{
  background-color:#FFFF00;
}

.button-delete{
  background-color: #FF3300;
}

.button-add{
  background-color: #33FF33;
}

.Header-Table{
  margin-top: 30px;
}

.button-submit{
  background-color: #33FF33;
  margin-left: 370px;
}